<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p [%c] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.http.wire" level="ERROR"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.cysnake.ticket.actor.SocketActor" level="ERROR"/>
    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>